<div class="sub-container" id="education-view">
  <div class="sub-header">
    <i class="fa fa-graduation-cap" style="
    font-size: 1.5rem;--fa-primary-color: #427d9d;"></i> 
     <h3>&nbsp; Education</h3>
  </div>
  

    <p-divider align="left" >
      <div class="inline-flex align-items-center">
        <i class="fa fa-graduation-cap"  style="padding-right: 1em;"></i>

        <b style="padding-right: 1em;">BSc.(Hons) in Computer Science & Engineering</b>
        <span class="p-tag" >2014-2018</span>
      </div>
    </p-divider>
    
    <p class="sub-description" style="padding-left: 4em;"> University of Moratuwa</p>


    <p-divider align="left" [style]="{'padding-top': '1em'}">
      <div class="inline-flex align-items-center">
        <i class="fa fa-graduation-cap"  style="padding-right: 1em;"></i>

        <b style="padding-right: 1em;">Secondary Education</b>
        <span class="p-tag" >2013</span>
      </div>
    </p-divider>

    <div style="padding-left: 4em;">
      <p class="sub-description"> H / Rajapaksha Central College, Weeraketiya</p>
      <p class="sub-description">G.C.E.Advanced Level Examination (Chemistry ‐ A, Physics ‐ A, Combined Mathematics ‐ A )</p>
    </div>  
</div>
