<div class="sub-container">
    <p-fieldset>
        <ng-template pTemplate="header">
          <div class="flex align-items-center text-primary">
            <span class="pi pi-user mr-2"></span>
            <span class="font-bold text-lg">About Me</span>
          </div>
        </ng-template>
        <p class="m-0 text__bold">
          As an experienced software developer with over 5+ years of expertise, I
          specialize in delivering cutting-edge engineering solutions across diverse
          applications and technologies. My proficiency extends to full-stack
          development, allowing me to craft interactive, user-centered website
          designs that seamlessly scale.
        </p>
        <p class="text__bold">
          I thrive on embracing emerging technologies and am dedicated to fostering
          active collaboration within teams. My ability to excel in fast-paced,
          deadline-driven environments makes me a valuable asset for any challenging
          project.
        </p>
      </p-fieldset>
</div>
