<!-- <div class="card">
    <p-timeline [value]="events" align="left" class="w-full">
        <ng-template pTemplate="marker" let-event>
            <span class="custom-marker">
                <i [ngClass]="event.icon" class="fa-duotone"  style="font-size: 2rem;--fa-primary-color:#427D9D;--fa-secondary-color: #164863; --fa-secondary-opacity: 0.9;"></i>  
            </span>
        </ng-template>
        
        <ng-template pTemplate="seperator"></ng-template>
        
        <ng-template pTemplate="content" let-event>    
            <p-card [header]="event.status" [subheader]="event.date">
                <img *ngIf="event.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + event.image" [alt]="event.name" width="200" class="shadow-2" />
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!
                </p>
                <button pButton label="Read more" class="p-button-text"></button>
            </p-card>
        </ng-template>
    </p-timeline>
</div> -->

<div style="margin: 0 5%" id="experience-view">
  <h3>Experience</h3>
  <p-divider align="left">
    <div class="inline-flex align-items-center">
      <i class="fa fa-briefcase" style="padding-right: 1em"></i>

      <b style="padding-right: 1em"
        >Senior Software Engineer, Geveo Australasia (Pvt) Ltd, Colombo 05, Sri
        Lanka
      </b>
      <span class="p-tag">Nov.2021-Present</span>
    </div>
  </p-divider>

  <div style="padding-left: 3.5em">
    <p>
      <strong>User Interface Development:</strong> Actively contributed to the
      development of new software functionalities, creating intuitive user
      interfaces using the Angular framework and Angular Material UI library to
      align with the client’s vision and requirements.
    </p>

    <p>
      <strong>Angular Project Migration:</strong> Led the migration of an
      Angular project to version 15, incorporating essential updates to project
      dependencies.
    </p>

    <p>
      <strong>Payroll System Development: </strong> Played a key role in
      developing a comprehensive payroll system for an Australian‐based company,
      enabling multi‐user authentication, contract and timesheet creation,
      invoice and document generation, and more.
    </p>

    <p>
      <strong>Back‐End Development: </strong> Collaborated on the back‐end
      development of REST APIs essential for the payroll system, utilizing Java
      in combination with the Quarkus framework to meet system requirements
      effectively.
    </p>

    <p>
      <strong> Integration with Third‐Party Software: </strong> Gained
      proficiency in integrating with third‐party software, such as Annature, an
      e‐signature platform, and implemented various functionalities for contract
      and timesheet signing within the system.
    </p>

    <p>
      <strong>CI/CD Pipeline and Deployment:</strong> Familiarized with AWS
      CodeCommit for CI/CD pipeline activities and contributed to Docker
      deployment processes.
    </p>

    <p>
      <strong>Code Refactor Task:</strong> Conducted comprehensive code
      refactoring across front‐end and back‐end components, systematically
      removing duplications, and integrating new technologies to enhance code
      efficiency and maintainability. This initiative resulted in improved
      system performance and alignment with industry standards.
    </p>

    <p>
      <strong>Crypto currency Integration:</strong> Spearheaded the successful
      integration of XRP (Ripple) tokens into the application, demonstrating
      advanced expertise in cryptocurrency and blockchain technology. This
      achievement was realized while leading a team during a hackathon focused
      on decentralized identity management.
    </p>
  </div>

  <p-divider align="left">
    <div class="inline-flex align-items-center">
      <i class="fa fa-briefcase" style="padding-right: 1em"></i>

      <b style="padding-right: 1em"
        >Software Engineer, CodeGen International (Pvt) Ltd, Colombo 10, Sri
        Lanka
      </b>
      <span class="p-tag">Jan.2019 - Nov.2021</span>
    </div>
  </p-divider>

  <div style="padding-left: 3.5em">
    <p>
      <strong>Software Engineer at FDM Travel project:</strong> Worked as a
      software engineer at FDM Travel project, a travel booking company in
      Denmark, handling complex travel booking scenarios. Actively participated
      in bug fixes and enhancements while maintaining company standards.
    </p>

    <p>
      <strong>Full‐Stack Expertise:</strong> Demonstrated expertise in front‐end
      development using Angular framework and Typescript, and back‐end
      development using Java. Adhered to a microservices architecture to ensure
      system scalability.
    </p>

    <p>
      <strong>Migration and Deployment:</strong> Played a crucial role in the
      migration process from SVN to Git repositories, preserving developer
      commits and history. Also, created Jenkins pipelines for efficient
      deployment capabilities.
    </p>

    <p>
      <strong>SCRUM Methodology:</strong> Successfully followed the SCRUM
      process, participating in SCRUM meetings, effectively managing high
      workloads, prioritizing tasks, and maintaining coding standards through
      code reviews and pair programming sessions.
    </p>

    <p>
      <strong>Collaborative Problem Solving:</strong> Collaborated with
      experienced team members to analyze issues and discuss solutions, leading
      to the development of better approaches for new features and bug fixes
      based on client feedback.
    </p>

    <p>
      <strong>API Integration:</strong> Contributed to the integration of
      various APIs and services to enhance the functionality of the user
      interface, performing version upgrades from older Java versions.
    </p>

    <p>
      <strong>Map‐Based Interaction:</strong> Implemented map‐based
      interactions, including map icons, routes, and clustering based on map
      markers, utilizing the Google Maps API for an internal project with a
      geographical focus.
    </p>

    <p>
      <strong>Performance Enhancement:</strong> Conducted research on static
      site generators, comparing Gatsby and Scully, to improve the performance
      of web applications.
    </p>

    <p>
      <strong>Advanced Trip Planning Feature:</strong> Developed an advanced
      trip planning schedule feature with calendar‐based user interfaces that
      allowed drag‐and‐drop and resize capabilities for flexible planning, all
      while ensuring proper validation.
    </p>

    <p>
      <strong>Docker and Kubernetes Deployment:</strong> Managed the initial
      deployment of projects using Docker and Kubernetes for efficient and
      scalable application hosting.
    </p>
  </div>

  <p-divider align="left">
    <div class="inline-flex align-items-center">
      <i class="fa fa-briefcase" style="padding-right: 1em"></i>

      <b style="padding-right: 1em"
        >Software Engineering Intern, CodeGen International (Pvt) Ltd, Colombo
        10, Sri Lanka
      </b>
      <span class="p-tag">Jun.2017 - Dec.2017</span>
    </div>
  </p-divider>

  <div style="padding-left: 3.5em">
    <p>
      <strong>Database Cache Performance Analysis:</strong> Conducted research
      to analyze database cache performance, with a primary focus on Redis and
      HazelcastDB caches.
    </p>
    <p>
      <strong> Machine Learning Model Development:</strong> Actively
      participated in the creation and training of machine learning models for
      timeseries prediction, achieving a high level of accuracy on a provided
      dataset.
    </p>
    <p>
      <strong>Face Recognition Web Application:</strong> Developed a web
      application for a face recognition system, utilizing the Angular
      framework. Integrated data visualization of correlations using the D3
      library and npm, enhancing the user experience.
    </p>
    <p>
      <strong>Data Visualization and Analysis:</strong> Demonstrated expertise
      in data visualization and analysis for a given dataset, using the R
      language to identify key features and insights.
    </p>
  </div>
</div>
