<div style="margin: 0 5%" id="projects-view">
  <h3>Projects</h3>

  <div style="padding-bottom: 1em">
    <p-fieldset legend="Payroll System">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p-divider></p-divider>

      <p>
        <strong>Full‐Stack Development:</strong> Played a key role in feature
        enhancements, both on the front end using Angular and on the backend
        using the Quarkus framework. This full‐stack expertise ensured a
        holistic approach to software development.
      </p>
      <p>
        <strong>End‐to‐End System Integration:</strong> Contributed to the
        development of a system that seamlessly integrates contracts,
        timesheets, and invoices, streamlining business processes and enhancing
        operational efficiency.
      </p>
      <p>
        <strong>Direct Collaboration with Product Owner:</strong> Actively
        engaged in direct communication with the product owner, facilitating
        efficient feedback and ensuring alignment with project goals and
        objectives.
      </p>
      <p>
        <strong>Task Prioritization:</strong> Utilized Jira for task management,
        allowing for effective task prioritization and ensuring project
        milestones were met on schedule.
      </p>
    </p-fieldset>
  </div>

  <div style="padding-bottom: 1em">
    <p-fieldset legend="TravelBox Trip">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p-divider></p-divider>

      <p>
        <strong>Full Trip Plan Feature:</strong>Developed a travel application
        in collaboration with Google Maps, featuring a comprehensive trip
        planning function.
      </p>
      <p>
        <strong>Attractions and To‐Do Integration:</strong>
        Integrated attractions and to‐do lists seamlessly with in the
        application, allowing users to plan their trips holistically.
      </p>
      <p>
        <strong>Time‐Allocation Scheduling:</strong>
        Designed a user‐friendly interface that enables travelers to schedule
        their trips based on the allocated time for the full trip duration.
      </p>
      <p>
        <strong>Flexible Adjustments:</strong>
        Built an adaptive system that allows users to easily adjust their trip
        plans in real‐time, ensuring a dynamic and customizable travel
        experience.
      </p>
    </p-fieldset>
  </div>

  <div style="padding-bottom: 1em">
    <p-fieldset legend="TravelBox Surf">
      <div class="card flex">
        <div>
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum.
              </p>
      
            <p>
              <strong>Full‐Featured Travel Application:</strong>
              Contributed to the development of a web‐based travel application with a
              comprehensive set of features, including search, booking, and package
              creation functionality.
            </p>
            <p>
              <strong>Feature Enhancement:</strong>
              Actively participated in enhancing various features of the existing web
              application, improving its usability and user experience.
            </p>
            <p>
              <strong>Client Issue Handling:</strong>
              Successfully managed and resolved client issues within tight deadlines,
              ensuring customer satisfaction and maintaining the application’s
              reliability and performance.
            </p>
        </div>
  
        <p-image src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg" alt="Image" width="250"></p-image>

        <!-- <img src="https://www.youtube.com/watch?v=zDfhCVZfXTU" width="250"> -->
        <!-- <video width="400" controls>
            <source src="https://www.youtube.com/watch?v=zDfhCVZfXTU" type="video/mp4">
            Your browser does not support HTML video.
          </video> -->
          
      </div>

      <!-- <p-divider></p-divider> -->

    </p-fieldset>
  </div>
  <div style="padding-bottom: 1em">
    <p-fieldset legend="Automatic Taxonomy Generation">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p-divider></p-divider>

      <p>
        <strong>FinalYearProject:</strong>
        This project was undertaken as the final year project during my academic
        tenure at the University of Moratuwa.
      </p>
      <p>
        <strong>NLP Utilization:</strong>
        Utilized Natural Language Processing(NLP) techniques to develop a novel
        system for taxonomic classification from a textual corpus. This
        innovative approach resulted in the creation of a structured and
        hierarchical subclass hierarchy, organized by specific travel-related
        domains.
      </p>
    </p-fieldset>
  </div>
  <div style="padding-bottom: 1em">
    <p-fieldset
      legend="Project Management System for UDA (Urban Development Authority)"
    >
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p-divider></p-divider>

      <p>
        <strong>Client‐Centric Development:</strong>
        Led the formation of a web‐based development project tailored to meet a
        distinguished set of client require‐ ments.
      </p>
      <p>
        <strong>Technology Stack:</strong>
        Utilized PHP and Laravel framework for web application development,
        ensuring robust functionality and a modern user experience. Established
        and maintained connectivity with a MySQL database.
      </p>
      <p>
        <strong>Agile Methodology:</strong>
        Gained experience in practicing Sprint methodology, which emphasized
        continuous integration, allowing for efficient development iterations
        and enhanced project management.
      </p>
      <p>
        <strong>Documentation Expertise:</strong>
        Demonstrated proficiency in creating essential project documentation,
        including Entity‐Relationship(ER) diagrams and identification of use
        cases. This documentation helped guide the development process and
        ensure alignment with client needs and ex‐ pectations.
      </p>
    </p-fieldset>
  </div>
  <div style="padding-bottom: 1em">
    <p-fieldset legend="DynamicsLk">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p-divider></p-divider>

      <p>
        <strong>Technology Stack:</strong>
        Used Angular framework for web application development
      </p>
    </p-fieldset>
  </div>
</div>
