<div class="sub-container" id="projects-view">
    <div  class="sub-header">
        <i class="fa fa-timeline" style="
        font-size: 1.5rem"></i> 
         <h3>&nbsp; Projects</h3>
      </div> 

  <div style="padding-bottom: 1em">
    <p-fieldset legend="Payroll System">
      <p class="m-0 description">
        A payroll system is a critical organizational tool, automating the
        intricate process of salary calculation, tax deductions, and
        compensation management. This integral component not only ensures
        accurate and timely payments to employees but also plays a pivotal role
        in compliance, financial planning, and fostering a harmonious work
        environment.
      </p>

      <p  class="sub-description">
        <strong>Full‐Stack Development:</strong> Played a key role in feature
        enhancements, both on the front end using Angular and on the backend
        using the Quarkus framework. This full‐stack expertise ensured a
        holistic approach to software development.
      </p>
      <p class="sub-description">
        <strong>End‐to‐End System Integration:</strong> Contributed to the
        development of a system that seamlessly integrates contracts,
        timesheets, and invoices, streamlining business processes and enhancing
        operational efficiency.
      </p>
      <p class="sub-description">
        <strong>Direct Collaboration with Product Owner:</strong> Actively
        engaged in direct communication with the product owner, facilitating
        efficient feedback and ensuring alignment with project goals and
        objectives.
      </p>
      <p class="sub-description">
        <strong>Task Prioritization:</strong> Utilized Jira for task management,
        allowing for effective task prioritization and ensuring project
        milestones were met on schedule.
      </p>
    </p-fieldset>
  </div>

  <div style="padding-bottom: 1em">
    <p-fieldset legend="Trip">
      <p class="m-0">
        The TravelBox Trip Plan System revolutionizes travel management with a
        comprehensive solution. This innovative platform seamlessly organizes
        itineraries, accommodations, and activities, streamlining the trip
        planning process. By combining efficiency and customization, TravelBox
        enhances the traveler's experience, making journey preparation a
        seamless and enjoyable endeavor.
      </p>


      <p class="sub-description">
        <strong>Full Trip Plan Feature:</strong>Developed a travel application
        in collaboration with Google Maps, featuring a comprehensive trip
        planning function.
      </p>
      <p class="sub-description">
        <strong>Attractions and To‐Do Integration:</strong>
        Integrated attractions and to‐do lists seamlessly with in the
        application, allowing users to plan their trips holistically.
      </p>
      <p class="sub-description">
        <strong>Time‐Allocation Scheduling:</strong>
        Designed a user‐friendly interface that enables travelers to schedule
        their trips based on the allocated time for the full trip duration.
      </p>
      <p class="sub-description">
        <strong>Flexible Adjustments:</strong>
        Built an adaptive system that allows users to easily adjust their trip
        plans in real‐time, ensuring a dynamic and customizable travel
        experience.
      </p>
    </p-fieldset>
  </div>

  <div style="padding-bottom: 1em">
    <p-fieldset legend="Surf">
      <div class="card flex project-item">
        <div>
          <p class="m-0">
            The TravelBox Surf System introduces a cutting-edge approach to surf
            trip planning. This dynamic platform redefines the surfing
            experience by seamlessly organizing surf spots, accommodations, and
            gear rentals. Offering a blend of efficiency and personalization,
            TravelBox Surf System ensures surf enthusiasts enjoy a smooth and
            exhilarating journey, making every wave count.
          </p>

          <p class="sub-description">
            <strong>Full‐Featured Travel Application:</strong>
            Contributed to the development of a web‐based travel application
            with a comprehensive set of features, including search, booking, and
            package creation functionality.
          </p>
          <p class="sub-description">
            <strong>Feature Enhancement:</strong>
            Actively participated in enhancing various features of the existing
            web application, improving its usability and user experience.
          </p>
          <p class="sub-description">
            <strong>Client Issue Handling:</strong>
            Successfully managed and resolved client issues within tight
            deadlines, ensuring customer satisfaction and maintaining the
            application’s reliability and performance.
          </p>
        </div>

        <!-- <p-image
          src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
          alt="Image"
          width="250"
        ></p-image> -->

        <!-- <img src="https://www.youtube.com/watch?v=zDfhCVZfXTU" width="250"> -->
        <!-- <video width="400" controls>
            <source src="https://www.youtube.com/watch?v=zDfhCVZfXTU" type="video/mp4">
            Your browser does not support HTML video.
          </video> -->
      </div>

      <!-- <p-divider></p-divider> -->
    </p-fieldset>
  </div>
  <div style="padding-bottom: 1em">
    <p-fieldset legend="Automatic Taxonomy Generation">
      <p class="m-0">
        Automatic Taxonomy Generation using NLP revolutionizes information
        organization. This innovative system employs Natural Language Processing
        to analyze and categorize content, autonomously generating structured
        taxonomies. By extracting key concepts, relationships, and context, it
        enhances data management, enabling more efficient and accurate
        information retrieval and analysis.
      </p>


      <p class="sub-description">
        <strong>FinalYearProject:</strong>
        This project was undertaken as the final year project during my academic
        tenure at the University of Moratuwa.
      </p>
      <p class="sub-description">
        <strong>NLP Utilization:</strong>
        Utilized Natural Language Processing(NLP) techniques to develop a novel
        system for taxonomic classification from a textual corpus. This
        innovative approach resulted in the creation of a structured and
        hierarchical subclass hierarchy, organized by specific travel-related
        domains.
      </p>
    </p-fieldset>
  </div>
  <div style="padding-bottom: 1em">
    <p-fieldset
      legend="Project Management System for UDA (Urban Development Authority)"
    >
      <p class="m-0">
        Project Management System for Urban Development Authority optimizes
        project planning and execution for UDA initiatives. Additionally, our
        software development services are tailored to client specifications,
        delivering bespoke solutions that precisely align with their unique
        project requirements and contribute to the success of urban development
        projects.
      </p>


      <p class="sub-description">
        <strong>Client‐Centric Development:</strong>
        Led the formation of a web‐based development project tailored to meet a
        distinguished set of client require‐ ments.
      </p>
      <p class="sub-description">
        <strong>Technology Stack:</strong>
        Utilized PHP and Laravel framework for web application development,
        ensuring robust functionality and a modern user experience. Established
        and maintained connectivity with a MySQL database.
      </p>
      <p class="sub-description">
        <strong>Agile Methodology:</strong>
        Gained experience in practicing Sprint methodology, which emphasized
        continuous integration, allowing for efficient development iterations
        and enhanced project management.
      </p>
      <p class="sub-description">
        <strong>Documentation Expertise:</strong>
        Demonstrated proficiency in creating essential project documentation,
        including Entity‐Relationship(ER) diagrams and identification of use
        cases. This documentation helped guide the development process and
        ensure alignment with client needs and ex‐ pectations.
      </p>
    </p-fieldset>
  </div>
  <div style="padding-bottom: 1em">
    <p-fieldset legend="DynamicsLk">
      <p class="m-0">
        DynamicsLK, was a mechanical engineering startup by group of friends
        delivering unparalleled services in design, simulations, and
        manufacturing. This website is a gateway to innovative solutions, where
        creativity meets precision.
      </p>


      <p class="sub-description">
        <strong>Technology Stack:</strong>
        Used Angular framework for web application development
      </p>
    </p-fieldset>
  </div>
</div>
