
@media screen and (max-width: 60em) {
    .project-item{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.description{
   font-weight: 500;
}

.sub-description{
    font-size: 15px;
    font-weight: 300;
}