<div class="sub-container" id="contact-view">
  <div class="card flex centered-item" >
    <p>{{ contactData.name }} &nbsp;</p>
    <p>
      <i class="fa fa-envelope contact-item"></i>
      <a href="mailto:${{ contactData.email }}" target="_blank">Email</a>
      &nbsp;

      <i class="fa fa-phone contact-item"></i>
      <a href="tel:{{ contactData.phone }}">{{ contactData.phone }}</a>
      &nbsp;

      <i class="fa fa-linkedin contact-item" ></i>
      <a href="{{ contactData.linkedin }}" target="_blank">LinkedIn </a>
      &nbsp;
      <i class="fa fa-github contact-item"></i>
      <a href="{{ contactData.github }}" target="_blank">GitHub </a>
      &nbsp;
    </p>
    <br />
  </div>

  <p class="centered-item">Colombo, Sri Lanka</p>
</div>
