<div class="sub-container" id="skills-view">
  <div class="sub-header">
    <i class="fa fa-cogs" style="font-size: 1.5rem"></i>
    <h3>&nbsp; Skills</h3>
  </div>

  <div style="padding-left: 3.5em">
    <div class="card--inline">
      <div class="card--tech">
        <p-card header="Frontend">
          <p>
            Angular, React, HTML, CSS, Javascript, Bootstrap, Material UI,
            PrimeNg, Swift UI
          </p>
        </p-card>
      </div>

      <div class="card--tech">
        <p-card header="Backend">
          <p>REST API, Quarkus Framework, Spring Boot, Maven</p>
        </p-card>
      </div>

      <div class="card--tech">
        <p-card header="Databases">
          <p>MySQL, SQL, PostgreSQL</p>
        </p-card>
      </div>

      <div class="card--tech">
        <p-card header="Languages">
          <p>Typescript, Java, Python, R, Swift</p>
        </p-card>
      </div>

      <div class="card--tech">
        <p-card header="Tools">
          <p>Git, Docker, Kubernetes, Jenkins, AWS</p>
        </p-card>
      </div>
      <div class="card--tech">
        <p-card header="Testing">
          <p>Jasmine, Karma, JUnit, Mockito, Protractor</p>
        </p-card>
      </div>
    </div> 
  </div>
</div>
