<div style="position: fixed">
  <p-speedDial [model]="items" direction="down">
    <ng-template pTemplate="item" let-item [pTooltip]="'tooltipText'">
      <div class="p--speedDial-content" [pTooltip]="'tooltipText'">
        <i class="fa-duotone" [ngClass]="item.icon"
          style="
            font-size: 2rem;
            --fa-primary-color: #427d9d;
            --fa-secondary-color: #164863;
            --fa-secondary-opacity: 0.9;
          "
        ></i>
      </div>
    </ng-template>
  </p-speedDial>
</div>

<app-home></app-home>
<!-- <app-contact></app-contact> -->
<app-education></app-education>
<app-experience></app-experience>
<app-projects></app-projects>
