<div class="sidemenu-dial">
  <p-speedDial [model]="items!" direction="down">
    <ng-template pTemplate="item" let-item [pTooltip]="'tooltipText'">
      <div class="p--speedDial-content" [pTooltip]="'tooltipText'">
        <i class="fa-duotone sidemenu-dial-icon" [ngClass]="item.icon"></i>
      </div>
    </ng-template>
  </p-speedDial>
</div>

<app-home></app-home>
<app-about></app-about>
<app-education></app-education>
<app-experience></app-experience>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact>
